body {
    margin: 0;
}

.full {
    height: 100vh;
    width: 100%;
    background-color: #F9FAFF;
}

.nav-bar {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 2;
    font-family: 'Comfortaa', cursive;
}

.name-container {
    width: 22.5%;
    text-align: center;
    min-width: 50px;
}

.space {
    width: calc(50% - 100px);
    min-width: none;
}

.pages {
    width: 30%;
    min-width: 50px;
    display: flex;
}

.head {
    margin-right: 10%;
    white-space: nowrap;
}

.corner-photo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 700px;
    height: 550px;
    z-index: 1;
}

.top {
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-h {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.first{
    width: 800px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    border-radius: 3%;
}

.second{
    width: 800px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    border-radius: 3%;
}

.third{
    width: 800px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    overflow: hidden;
    display: flex;
    border-radius: 3%;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name2 {
    color: var(--font-high-emphasis, #25282B);
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
}

.text {
    color: var(--font-medium-emphasis, #828282);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 25px;
}

.image_1 {
    width: 50%;
    overflow: hidden;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.image_1 {
    width: 50%;
    overflow: hidden;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.text1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space2 {
    height: 25%;
}

.inner {
    width: 70%;
}

.inner-text {
    height: 50%;
    width: 80%;
}

.proj-name {
    color: var(--font-high-emphasis, #25282B);
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.proj-text {
    color: var(--font-medium-emphasis, #828282);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.space3 {
    height: 10%;
}

.title {
    color: var(--brand-yellow, #FDC435);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.project-tab {
    border-radius: 8px;
    background: var(--brand-yellow, #FDC435);
    width: 125px;
    height: 40px;
    margin-right: 3px;
    color: var(--font-high-emphasis, #25282B);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: #FDC435;
}

.linkedin-tab {
    border-radius: 8px;
    border: 2px solid var(--bg-line, #25282B); 
    width: 125px;
    height: 40px;   
    color: var(--font-high-emphasis, #25282B);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    font-weight: 600;
}

.contacting {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space4 {
    height: 40%;
}

.icons {
    margin-bottom: 17px;
}

.final {
    color: var(--font-medium-emphasis, #828282);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fun {
    margin-right: 20px;
}

.projects-title {
    color: var(--font-high-emphasis, #25282B);
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    border-radius: 2px;
    background: var(--brand-yellow, #FDC435);
}

.middle {
    width: 100%;
    height: 540px;
    display: flex;
}
